.venv/
Documents/
Data/
Papers/

**/*.png

# Ignore everything in "K Dimensions" folder
**/K Dimensions/*.py
**/K Dimensions/*.ipynb
**/K Dimensions/*.png


# Keep specific files (ensure names match exactly)
!**/K Dimensions/0_CSA_Paper_Method.ipynb
!**/K Dimensions/1_Radial_Splitting.ipynb
!**/K Dimensions/2_Vertical_Horizontal_Strips.ipynb
!**/K Dimensions/3_Radial_Splitting_Multiple_Hosts.ipynb
!**/K Dimensions/4_Vertical_Horizontal_Strips_Multiple_...ipynb
!**/K Dimensions/5_3D.ipynb